@import 'BootstrapSpacing.css';

.title {
  font-size: 3em;
  font-family:  Georgia, 'Times New Roman', Times, serif, Tahoma, sans-serif, Times, serif;
}

.subTitle {
  color: rgb(61, 68, 75);
  font-size: 1.5em;
  font-weight: 600;
  line-height: 0;
  margin-bottom: 2em;
  margin-top: -.25em;
  font-family: Helvetica, Arial, sans-serif
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.todo-item-list {
  min-width: 65%;
  max-width: 80%;
  list-style: none;
  border: 2px solid black;
  margin: 1.5em;
  padding: 2em;
}

.todo-item-list ul {
  margin: 0;
  padding: 0;
}

.todo-item-list li {
  display: flex;
  justify-content: space-between;
  margin-top: .6em;
  padding: .25em .25em .25em .25em;
  background-color: lightgray;
  border: 1px double black
}

.todo-item-list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25em .25em .25em .25em;
  background-color: slategray;
  color: white;
}

.todo-item-list span.inline-text {
  color: #11998e;
  font-weight: 600;
  font-size: 24px;
  padding: .5em;
}

.todo-item-list li.completed {
  background-color: lightgreen;
}

.todo-item-list li span input {
  overflow: hidden;
}

.todo-delete-button {
  padding: 12px 12px 12px 0px;
  cursor: pointer;
}

.todo-delete-button img:hover {
  filter: brightness(75%) hue-rotate(15deg)
}

.ghost-button {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  font-size: 19px;
  font-weight: 600;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  cursor:pointer;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 100px;
  transition: background-color .15s linear
}
.ghost-button.delete {
  border: 1px solid red;
  color: rgb(243, 190, 190);
}
.ghost-button.delete:hover {
  color:#fff;
  background: rgb(196, 18, 18);
  border: 1px solid rgb(196, 18, 18);
}


.hidden {
  display: none;
}

.inline-text_copy--active,

.inline-text_input--active {

  font: inherit;

  color: inherit;

  text-align: inherit;

  padding: 0;

  background: none;

  border: none;

  border-bottom: 1px dashed #666666;

}

.inline-text_copy--active {

  cursor: pointer;

}

.inline-text_copy--hidden,

.inline-text_input--hidden {

  display: none;

}

.inline-text_input--active {

  border-bottom: 1px solid #666666;

  text-align: left;

}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

@media only screen and (min-width : 768px) {
  .form__group {
    width: 40%;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

strong.empty-list {
  font-size: 20px;
}

.todo-submit {
  margin-top: .6em;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background-color:#11998e;
  transition: background-color .2s linear;
}

.todo-submit:hover {
  background-color:#0d6b63;
}