.inline-todo-button {
  margin-left: 1em;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.inline-todo-button.delete {
  background-color: red;
}

.hidden {
  display: none;
}

.inline-text_copy--active,

.inline-text_input--active {

  font: inherit;

  color: inherit;

  text-align: inherit;

  padding: 0;

  background: none;

  border: none;

  border-bottom: 1px dashed #666666;

}

.inline-text_copy--active {

  cursor: pointer;

}

.inline-text_copy--hidden,

.inline-text_input--hidden {

  display: none;

}

.inline-text_input--active {

  border-bottom: 1px solid #666666;

  text-align: left;

}