@import 'BootstrapSpacing.css';

.title {
  font-size: 2em;
}

.subTitle {
  color: rgb(61, 68, 75);
  font-size: 1.2em;
  font-weight: 600;
  line-height: 0;
  margin-left: -.25em;
  margin-bottom: 2em;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-item-list {
  min-width: 65%;
  list-style: none;
  border: 2px solid black;
  margin: 1.5em;
  padding: 2em;
}

.todo-item-list li {
  display: flex;
  justify-content: space-between;
  margin-top: .6em;
  padding: .25em .25em .25em .25em;
  background-color: lightgray;
  border: 1px double black
}

.todo-item-list span.inline-text {
  color: darkcyan;
  font-weight: 600;
  font-size: 20px;
  padding: .5em;

}

.todo-item-list li.completed {
  background-color: lightgreen;
}

/* .todo-item-list li span input {
  padding-left: .1em;
} */

.todo-delete-button {
  padding: 12px;
  cursor: pointer;
}

.todo-delete-button img:hover {
  filter: brightness(75%) hue-rotate(15deg)
}

/* .inline-todo-button {
  display: inline-block;
  text-align: center;
  border: none;
  color: white;
  padding: 13px 26px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.inline-todo-button.delete {
  background-color: red;
} */

.hidden {
  display: none;
}

.inline-text_copy--active,

.inline-text_input--active {

  font: inherit;

  color: inherit;

  text-align: inherit;

  padding: 0;

  background: none;

  border: none;

  border-bottom: 1px dashed #666666;

}

.inline-text_copy--active {

  cursor: pointer;

}

.inline-text_copy--hidden,

.inline-text_input--hidden {

  display: none;

}

.inline-text_input--active {

  border-bottom: 1px solid #666666;

  text-align: left;

}